<a href="https://colab.research.google.com/github/adamggibbs/marine-carbonate-system-ml-prediction/blob/master/data_quality_control_glider.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SET UP ENVIRONMENT 

# mount google drive for data storage and access
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
# IMPORTS

import os

import pandas as pd
import numpy as np

In [ ]:
# STORE DIRECTORY WHERE DATA IS STORED

# this is an absolute path 
# and be sure to include trailing '/'
data_dir = '/content/drive/MyDrive/Adam Gibbs/data/'
glider_dir = data_dir + 'glider/'
raw_glider_dir = glider_dir + 'raw/'

In [ ]:
# FUNCTION TO READ GLIDER FILE IN A PANDAS DATAFRAME
def read_glider_file(file):
  names = [ 'Cruise', 'Station', 'Type',	'DATE', 'TIME', 'LONGITUDE',	
         'LATITUDE',	'QF',	'PRS', 'PRS_QF', 'TMP', 'TMP_QF', 
         'SAL', 'SAL_QF', 'Sigma_theta', 'ST_QF', 'DEPTH', 'DEPTH_QF', 
         'OXYGEN', 'OXYGEN_QF',	'SATOXY',	'SATOXY_QF',	'NITRATE', 
         'NITRATE_QF', 'CHL_A', 'CHL_A_QF', 'BBP700', 'BBP700_QF', 'PH_INSITU', 
         'PH_INSITU_QF', 'BBP532', 'BBP_532_QF', 'CDOM', 'CDOM_QF', 'TALK_CANYONB',	
         'TALK_QF', 'DIC_CANYONB', 'DIC_QF', 'pCO2_CANYONB', 'pCO2_QF', 
         'SAT_AR_CANYONB', 'SAT_AR_QF', 'pH25C_1atm', 'pH25C_1atm_QF' ]

  df = pd.read_csv(file, skiprows=7, header=None, sep='\t', names=names)
  df = df.dropna(axis=0, how='any').reset_index(drop=True)
  
  return df

In [ ]:
# READ DATA INTO A PANDAS DATAFRAME TO DISPLAY

print('Files in glider data folder:')
display(os.listdir(raw_glider_dir))

dfs_glider = []
for file in os.listdir(raw_glider_dir):
  if file == '19702901.txt':
    continue
  dfs_glider.append(read_glider_file(raw_glider_dir + file))

print()
print("There are {0} dataframes from {0} shipboard data files".format(len(dfs_glider)))
print("Adjust the index below to toggle which one is displayed.")
print()
display(dfs_glider[0])

Files in glider data folder:

['19402901.txt',
 '19502901.txt',
 '19502902.txt',
 '19702901.txt',
 '19A02901.txt',
 '20202901.txt']

There are 5 dataframes from 5 shipboard data files
Adjust the index below to toggle which one is displayed.

          Cruise  Station Type  ... SAT_AR_QF pH25C_1atm  pH25C_1atm_QF
0       19402901        1    C  ...       8.0     7.6022            8.0
1       19402901        1    C  ...       8.0     7.6023            8.0
2       19402901        1    C  ...       8.0     7.6097            8.0
3       19402901        1    C  ...       8.0     7.6163            8.0
4       19402901        1    C  ...       8.0     7.6190            8.0
...          ...      ...  ...  ...       ...        ...            ...
138816  19402901      227    C  ...       0.0     7.9040            0.0
138817  19402901      227    C  ...       0.0     7.9043            0.0
138818  19402901      227    C  ...       0.0     7.9036            0.0
138819  19402901      227    C  ...       0.0     7.9033            0.0
138820  19402901      227    C  ...       0.0     7.9031            0.0

[138821 rows x 44 columns]

In [ ]:
def check_qfs(file, save_csv=True):
  # read in csv
  dataframe = read_glider_file(file)

  df = dataframe[[ 'PH_INSITU', 'PH_INSITU_QF', 'PRS', 'PRS_QF', 'TMP', 'TMP_QF', 
           'SAL', 'SAL_QF', 'OXYGEN', 'OXYGEN_QF']].to_numpy()

  for ind in range(0, len(df)):
    # check pH QFs
    pH = df[ind][0]
    qf = df[ind][1]
    if pH < 7.3 or pH > 8.5:
      df[ind][1] = 8
    elif ind > 1 and ind + 2 < len(df):
      test = pH - np.median((df[ind-2][0], df[ind-1][0], 
                              pH, 
                              df[ind+1][0], df[ind+2][0]))
      if abs(test) > 0.04:
        qf = 8

    # check inputs QFs
    if float(df[ind][2]) == -999:
      df[ind][3] = 8
    if float(df[ind][4]) == -999:
      df[ind][5] = 8
    if float(df[ind][6]) == -999:
      df[ind][7] = 8
    if float(df[ind][8]) == -999:
      df[ind][9] = 8

  # update pH QFs
  dataframe['PH_INSITU_QF'] = df[:,1]
  # update inputs QFs
  dataframe['PRS_QF'] = df[:,3]
  dataframe['TMP_QF'] = df[:,5]
  dataframe['SAL_QF'] = df[:,7]
  dataframe['OXYGEN_QF'] = df[:,9]

  if save_csv:
    dataframe.to_csv(glider_dir + file[-12:-3] + 'csv', header=True, index=False)

  return dataframe

In [ ]:
  # loop through all data files and add them to input array
  print('Parsing the following files:')
  for file in os.listdir(raw_glider_dir):
    print(raw_glider_dir + file)
    check_qfs(raw_glider_dir + file)
  print('Complete.')

Parsing the following files:
/content/drive/MyDrive/Adam Gibbs/data/glider/raw/19402901.txt
/content/drive/MyDrive/Adam Gibbs/data/glider/raw/19502901.txt
/content/drive/MyDrive/Adam Gibbs/data/glider/raw/19502902.txt
/content/drive/MyDrive/Adam Gibbs/data/glider/raw/19702901.txt
/content/drive/MyDrive/Adam Gibbs/data/glider/raw/19A02901.txt
/content/drive/MyDrive/Adam Gibbs/data/glider/raw/20202901.txt
Complete.