<a href="https://colab.research.google.com/github/adamggibbs/marine-carbonate-system-ml-prediction/blob/master/data_cleaning_ship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SET UP ENVIRONMENT 

# mount google drive for data storage and access
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

!pip install PyCO2SYS

Mounted at /content/drive
Collecting PyCO2SYS
  Downloading PyCO2SYS-1.7.0.1-py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 5.5 MB/s
Collecting openpyxl>=3
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 41.0 MB/s
Requirement already satisfied: xarray>=0.15 in /usr/local/lib/python3.7/dist-packages (from PyCO2SYS) (0.18.2)
Requirement already satisfied: pandas>=1 in /usr/local/lib/python3.7/dist-packages (from PyCO2SYS) (1.1.5)
Collecting autograd-latest==1.3
  Downloading autograd_latest-1.3-py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 5.4 MB/s
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from PyCO2SYS) (1.19.5)
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from autograd-latest==1.3->PyCO2SYS) (0.16.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3->PyCO2SYS) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1->PyCO2SYS) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1->PyCO2SYS) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1->PyCO2SYS) (1.15.0)
Requirement already satisfied: setuptools>=40.4 in /usr/local/lib/python3.7/dist-packages (from xarray>=0.15->PyCO2SYS) (57.2.0)
Installing collected packages: openpyxl, autograd-latest, PyCO2SYS
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 2.5.9
    Uninstalling openpyxl-2.5.9:
      Successfully uninstalled openpyxl-2.5.9
Successfully installed PyCO2SYS-1.7.0.1 autograd-latest-1.3 openpyxl-3.0.7

In [ ]:
# IMPORTS

import os
import sys

import pandas as pd
import numpy as np

import PyCO2SYS as pyco2

In [ ]:
# STORE DIRECTORY WHERE DATA IS STORED

# this is an absolute path 
# and be sure to include trailing '/'
data_dir = '/content/drive/MyDrive/Adam Gibbs/data/'
ship_dir = data_dir + 'ship/'

# Ship Data
The following cells parse the ship data files. This section is split up into the following three code cells:

1.   Display Raw Data
2.   Parsing Function
3.   Parse Data and Create Input Array

In [ ]:
# READ DATA INTO A PANDAS DATAFRAME TO DISPLAY

print('Files in ship data folder:')
display(os.listdir(ship_dir))

dfs_ship= []
for file in os.listdir(ship_dir):
  if file == 'raw':
    continue
  df = pd.read_csv(ship_dir + file)
  dfs_ship.append(df.dropna().reset_index(drop=True))

print()
print("There are {0} dataframes from {0} shipboard data files".format(len(dfs_ship)))
print("Adjust the index below to toggle display.")
print()

display(dfs_ship[1])
display(dfs_ship[2])

Files in ship data folder:

['raw',
 'mltrain_ship052019.csv',
 'mltrain_ship072019.csv',
 'mltrain_ship052021.csv']

There are 3 dataframes from 3 shipboard data files
Adjust the index below to toggle display.

    EXPOCODE SECT_ID  STNNBR  ...  PHAEO_GFF  CHLPHAEO_FLAG_W  PH_INSITU_QF
0       C3PO      C1       1  ...       0.27                2           2.0
1       C3PO      C1       1  ...       0.31                2           2.0
2       C3PO      C1       1  ...       0.33                2           2.0
3       C3PO      C1       1  ...       0.48                2           2.0
4       C3PO      C1       1  ...       0.74                2           2.0
..       ...     ...     ...  ...        ...              ...           ...
389     C3PO   73_55      20  ...    -999.00                9           2.0
390     C3PO   73_55      20  ...    -999.00                9           2.0
391     C3PO   73_55      20  ...    -999.00                9           2.0
392     C3PO   73_55      20  ...    -999.00                9           2.0
393     C3PO   73_55      20  ...    -999.00                9           2.0

[394 rows x 43 columns]

    EXPOCODE SECT_ID  STNNBR  ...     TALK  TALK_FLAG_W  PH_INSITU_QF
0     C3PO21      C1       1  ...  2270.77            4           2.0
1     C3PO21      C1       1  ...  2270.36            2           2.0
2     C3PO21      C1       1  ...  2265.04            2           2.0
3     C3PO21      C1       1  ...  2261.42            2           2.0
4     C3PO21      C1       1  ...  2259.26            2           2.0
..       ...     ...     ...  ...      ...          ...           ...
271   C3PO21   80_70      23  ...  2283.22            2           2.0
272   C3PO21   80_70      23  ...  2265.80            2           2.0
273   C3PO21   80_70      23  ...  2232.72            2           2.0
274   C3PO21   80_70      23  ...  2214.63            2           2.0
275   C3PO21   80_70      23  ...  2213.75            2           2.0

[276 rows x 32 columns]

In [ ]:
# CREATE FUNCTION TO CREATE A NUMPY ARRAY OF INPUTS FROM
# SHIP DATA FILE

'''
process_ship_file()
  description:
    This function reads in a data file in csv format and
    creates a pandas dataframe from it. From there it loops through
    and removes all bad data points according to the quality control
    flags. It then takes the desired input parameters as sepcified on 
    line 74 and puts them into a numpy array.

  args:
    file: string that contains file name of dataset
'''
def process_ship_file(file):

  # read in csv
  df = pd.read_csv(file)
  # take subset of data we care about
  # df = df[['DATE', 'LATITUDE', 'LONGITUDE', 'CTDPRS', 'CTDTMP', 'CTDSAL', 
  #          'CTDSAL_FLAG_W', 'OXYGEN', 'OXYGEN_FLAG_W', 'TCARBN', 
  #          'TCARBN_FLAG_W', 'PH_TOT', 'PH_TOT_FLAG_W']]
  df = df[['DATE', 'LATITUDE', 'LONGITUDE', 'CTDPRS', 'CTDTMP', 'CTDSAL', 
           'CTDSAL_FLAG_W', 'OXYGEN', 'OXYGEN_FLAG_W', 'TCARBN', 
           'TCARBN_FLAG_W', 'PH_TOT', 'PH_TOT_FLAG_W']]

  # drop any row with NaN values
  df = df.dropna(axis=0, how='any').reset_index(drop=True)

  # remove all bad data
  # "bad data" has a QC flag that isn't 2
  # do this for every parameter and its QC flags

  # drop bad Salinity
  index = 0
  to_drop = []
  for flag in df['CTDSAL_FLAG_W']:
    if flag != 2:
      to_drop.append(index)
    index += 1
  df = df.drop(to_drop).reset_index(drop=True)

  # drop bad Oxygen
  index = 0
  to_drop = []
  for flag in df['OXYGEN_FLAG_W']:
    if flag != 2:
      to_drop.append(index)
    index += 1
  df = df.drop(to_drop).reset_index(drop=True)

  # drop bad Total Carbon
  index = 0
  to_drop = []
  for flag in df['TCARBN_FLAG_W']:
    if flag != 2:
      to_drop.append(index)
    index += 1
  df = df.drop(to_drop).reset_index(drop=True)

  # drop bad Total pH
  index = 0
  to_drop = []
  for flag in df['PH_TOT_FLAG_W']:
    if flag != 2:
      to_drop.append(index)
    index += 1
  df = df.drop(to_drop).reset_index(drop=True)

  # Convert shipboard pH to in situ pH

  results = pyco2.sys(par1=df['PH_TOT'], par1_type=3,
                    par2=df['TCARBN'], par2_type=2,
                    temperature=25, pressure=0,
                    temperature_out=df['CTDTMP'], pressure_out=df['CTDPRS'],
                    salinity=df['CTDSAL'])

  df['PH_TOT'] = results['pH_out']

  # take subset of only parameters for inputs
  # this array contains only "good" data points
  inputs = df[['DATE', 'LATITUDE', 'LONGITUDE', 'CTDPRS', 'CTDTMP', 'CTDSAL', 
               'OXYGEN']]
  outputs = df['PH_TOT']

  # convert dataframe in numpy array
  inputs = inputs.to_numpy(dtype='str')
  outputs = outputs.to_numpy(dtype='str')

  # return the array
  return inputs, outputs


'''
process_ship_dir()
  description:
    This function takes a dir with shipboard data and processes
    each file in that dir and creates input and output files. It
    also has the option to save those input and output arrays to
    either a .txt or a .csv file.

  args:
    file: string that contains file name of dataset
    save_txt (default=False): boolean of whether to save a .txt
    save_csv (default=False): boolean of whether to save a .csv
'''
def process_ship_dir(dir, save_txt=False, save_csv=False):
  # list all data files in directory
  print('Parsing the following files:')

  # create an empty numpy array that will hold inputs
  inputs = np.empty((0,7))
  outputs = np.empty(0)

  # loop through all data files and add them to input array
  for file in os.listdir(dir):
    if file == 'raw':
      continue
    print(ship_dir + file)
    input_array, output_array = process_ship_file(dir + file)
    inputs = np.concatenate((inputs, input_array), axis=0)
    outputs = np.concatenate((outputs, output_array), axis=0)

  # if desired save arrays as .txt files
  if save_txt or save_csv: 
    if save_txt:
      input_header = 'DATE LATITUDE LONGITUDE CTDPRS CTDTMP CTDSAL OXYGEN'
      np.savetxt(data_dir + 'ship_tpso_input.txt', inputs, 
                 fmt='%s', header=input_header)
      output_header = 'TOT_PH'
      np.savetxt(data_dir + 'ship_ph_output.txt', outputs, 
                 fmt='%s', header=output_header)
    else:
      input_header = 'DATE, LATITUDE, LONGITUDE, CTDPRS, CTDTMP, CTDSAL, OXYGEN'
      np.savetxt(data_dir + 'ship_tpso_input.csv', inputs, 
                 fmt='%s', delimiter=",", header=input_header)
      output_header = 'TOT_PH'
      np.savetxt(data_dir + 'ship_ph_output.csv', outputs, 
                 fmt='%s', delimiter=",", header=output_header)

  return inputs, outputs

In [ ]:
# PARSE SHIP DATA AND CREATE INPUT ARRAY

ship_inputs, ship_outputs = process_ship_dir(ship_dir, save_csv=True)

# print input array and its dimensions
# print('Input array:')
# display(ship_inputs)

print('Dimensions of input array:')
display(ship_inputs.shape)

# print output array and its dimensions
# print('Output array:')
# display(ship_outputs)

print('Dimensions of output array:')
display(ship_outputs.shape)

Parsing the following files:
/content/drive/MyDrive/Adam Gibbs/data/ship/mltrain_ship052019.csv
/content/drive/MyDrive/Adam Gibbs/data/ship/mltrain_ship072019.csv
/content/drive/MyDrive/Adam Gibbs/data/ship/mltrain_ship052021.csv
Dimensions of input array:

(747, 7)

Dimensions of output array:

(747,)

In [ ]:
# Dimensions of output array:
# (748,)