<a href="https://colab.research.google.com/github/adamggibbs/marine-carbonate-system-ml-prediction/blob/master/data_quality_control_ship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SET UP ENVIRONMENT 

# mount google drive for data storage and access
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
# IMPORTS

import os

import pandas as pd
import numpy as np

In [ ]:
# STORE DIRECTORY WHERE DATA IS STORED

# this is an absolute path 
# and be sure to include trailing '/'
data_dir = '/content/drive/MyDrive/Adam Gibbs/data/'
ship_dir = data_dir + 'ship/'
raw_ship_dir = ship_dir + 'raw/'

In [ ]:
# READ DATA INTO A PANDAS DATAFRAME TO DISPLAY

print('Files in ship data folder:')
display(os.listdir(raw_ship_dir))

dfs_ship= []
for file in os.listdir(raw_ship_dir):
  df = pd.read_csv(raw_ship_dir + file)
  dfs_ship.append(df.dropna().reset_index(drop=True))

print()
print("There are {0} dataframes from {0} shipboard data files".format(len(dfs_ship)))
print("Adjust the index below to toggle display.")
print()

display(dfs_ship[1])
display(dfs_ship[2])

Files in ship data folder:

['mltrain_ship052021.csv', 'mltrain_ship052019.csv', 'mltrain_ship072019.csv']

There are 3 dataframes from 3 shipboard data files
Adjust the index below to toggle display.

         EXPOCODE SECT_ID  STNNBR  ...  NITRIT_FLAG_W  AMMONIUM  AMMONIUM_FLAG_W
0    31WF20190511      C1       1  ...              2     0.222                2
1    31WF20190511      C1       1  ...              2     0.227                2
2    31WF20190511      C1       1  ...              2     0.412                2
3    31WF20190511      C1       1  ...              2     0.440                2
4    31WF20190511      C1       1  ...              2     0.730                2
..            ...     ...     ...  ...            ...       ...              ...
379  31WF20190511     MW1      20  ...              2  -999.000                9
380  31WF20190511     MW1      20  ...              2  -999.000                9
381  31WF20190511     MW1      20  ...              2  -999.000                9
382  31WF20190511     MW1      20  ...              2  -999.000                9
383  31WF20190511     MW1      20  ...              2  -999.000                9

[384 rows x 40 columns]

    EXPOCODE SECT_ID  STNNBR  ...  CHL_GFF  PHAEO_GFF  CHLPHAEO_FLAG_W
0       C3PO      C1       1  ...     0.11       0.27                2
1       C3PO      C1       1  ...     0.13       0.31                2
2       C3PO      C1       1  ...     0.11       0.33                2
3       C3PO      C1       1  ...     0.30       0.48                2
4       C3PO      C1       1  ...     0.41       0.74                2
..       ...     ...     ...  ...      ...        ...              ...
389     C3PO   73_55      20  ...  -999.00    -999.00                9
390     C3PO   73_55      20  ...  -999.00    -999.00                9
391     C3PO   73_55      20  ...  -999.00    -999.00                9
392     C3PO   73_55      20  ...  -999.00    -999.00                9
393     C3PO   73_55      20  ...  -999.00    -999.00                9

[394 rows x 42 columns]

In [ ]:
def check_qfs(file, save_csv=True):
  # read in csv
  dataframe = pd.read_csv(file)

  df = dataframe[['PH_TOT', 'PH_TOT_FLAG_W', 'CTDSAL', 'CTDSAL_FLAG_W', 
                  'OXYGEN', 'OXYGEN_FLAG_W']].to_numpy()

  for ind in range(0, len(df)):
    # check pH QFs
    pH = df[ind][0]
    qf = df[ind][1]
    if pH < 7.3 or pH > 8.5:
      df[ind][1] = 8
    elif ind > 1 and ind + 2 < len(df):
      test = pH - np.median((df[ind-2][0], df[ind-1][0], 
                              pH, 
                              df[ind+1][0], df[ind+2][0]))
      if abs(test) > 0.04:
        qf = 8

    # check inputs QFs
    if float(df[ind][2]) == -999:
      df[ind][3] = 9
    if float(df[ind][4]) == -999:
      df[ind][5] = 9

  # update pH QFs
  dataframe['PH_INSITU_QF'] = df[:,1]
  # update inputs QFs
  dataframe['CTDSAL_FLAG_W'] = df[:,3]
  dataframe['OXYGEN_FLAG_W'] = df[:,5]

  if save_csv:
    dataframe.to_csv(ship_dir + file[-22:], header=True, index=False)

  return dataframe

In [ ]:
  # loop through all data files and add them to input array
  print('Parsing the following files:')
  for file in os.listdir(raw_ship_dir):
    print(raw_ship_dir + file)
    check_qfs(raw_ship_dir + file)
  print('Complete.')

Parsing the following files:
/content/drive/MyDrive/Adam Gibbs/data/ship/raw/mltrain_ship052021.csv
/content/drive/MyDrive/Adam Gibbs/data/ship/raw/mltrain_ship052019.csv
/content/drive/MyDrive/Adam Gibbs/data/ship/raw/mltrain_ship072019.csv
Complete.