<a href="https://colab.research.google.com/github/adamggibbs/marine-carbonate-system-ml-prediction/blob/master/data_cleaning_ship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SET UP ENVIRONMENT 

# mount google drive for data storage and access
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

!pip install PyCO2SYS

Mounted at /content/drive
Collecting PyCO2SYS
  Downloading https://files.pythonhosted.org/packages/b0/4d/b5dca8a3f10786d747925a200a81efebecdea1321eb8d9d40f074d7d0241/PyCO2SYS-1.7.0.1-py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 3.6MB/s
Collecting autograd-latest==1.3
  Downloading https://files.pythonhosted.org/packages/54/aa/522691a22383570cfe1ff2d5da234ae2f49254bdb78737183cb2cd1a475b/autograd_latest-1.3-py3-none-any.whl (50kB)
     |████████████████████████████████| 51kB 4.6MB/s
Requirement already satisfied: pandas>=1 in /usr/local/lib/python3.7/dist-packages (from PyCO2SYS) (1.1.5)
Requirement already satisfied: xarray>=0.15 in /usr/local/lib/python3.7/dist-packages (from PyCO2SYS) (0.18.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from PyCO2SYS) (1.19.5)
Collecting openpyxl>=3
  Downloading https://files.pythonhosted.org/packages/39/08/595298c9b7ced75e7d23be3e7596459980d63bc35112ca765ceccafbe9a4/openpyxl-3.0.7-py2.py3-none-any.whl (243kB)
     |████████████████████████████████| 245kB 9.6MB/s
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from autograd-latest==1.3->PyCO2SYS) (0.16.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1->PyCO2SYS) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1->PyCO2SYS) (2.8.1)
Requirement already satisfied: setuptools>=40.4 in /usr/local/lib/python3.7/dist-packages (from xarray>=0.15->PyCO2SYS) (57.0.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3->PyCO2SYS) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1->PyCO2SYS) (1.15.0)
Installing collected packages: autograd-latest, openpyxl, PyCO2SYS
  Found existing installation: openpyxl 2.5.9
    Uninstalling openpyxl-2.5.9:
      Successfully uninstalled openpyxl-2.5.9
Successfully installed PyCO2SYS-1.7.0.1 autograd-latest-1.3 openpyxl-3.0.7

In [ ]:
# IMPORTS

import os
import sys

import pandas as pd
import numpy as np

import PyCO2SYS as pyco2

In [ ]:
# STORE DIRECTORY WHERE DATA IS STORED

# this is an absolute path 
# and be sure to include trailing '/'
data_dir = '/content/drive/MyDrive/Adam Gibbs/data/'
ship_dir = data_dir + 'ship/'

# Ship Data
The following cells parse the ship data files. This section is split up into the following three code cells:

1.   Display Raw Data
2.   Parsing Function
3.   Parse Data and Create Input Array

In [ ]:
# READ DATA INTO A PANDAS DATAFRAME TO DISPLAY

print('Files in ship data folder:')
display(os.listdir(ship_dir))

dfs_ship= []
for file in os.listdir(ship_dir):
  df = pd.read_csv(ship_dir + file)
  dfs_ship.append(df.dropna().reset_index(drop=True))

print()
print("There are {0} dataframes from {0} shipboard data files".format(len(dfs_ship)))
print("Adjust the index below to toggle display.")
print()

display(dfs_ship[1])
display(dfs_ship[2])

Files in ship data folder:

['mltrain_ship052019.csv', 'mltrain_ship072019.csv', 'mltrain_ship052021.csv']

There are 3 dataframes from 3 shipboard data files
Adjust the index below to toggle display.

    EXPOCODE SECT_ID  STNNBR  ...  CHL_GFF  PHAEO_GFF  CHLPHAEO_FLAG_W
0       C3PO      C1       1  ...     0.11       0.27                2
1       C3PO      C1       1  ...     0.13       0.31                2
2       C3PO      C1       1  ...     0.11       0.33                2
3       C3PO      C1       1  ...     0.30       0.48                2
4       C3PO      C1       1  ...     0.41       0.74                2
..       ...     ...     ...  ...      ...        ...              ...
389     C3PO   73_55      20  ...  -999.00    -999.00                9
390     C3PO   73_55      20  ...  -999.00    -999.00                9
391     C3PO   73_55      20  ...  -999.00    -999.00                9
392     C3PO   73_55      20  ...  -999.00    -999.00                9
393     C3PO   73_55      20  ...  -999.00    -999.00                9

[394 rows x 42 columns]

    EXPOCODE SECT_ID  STNNBR  ...  NITRIT_FLAG_W     TALK  TALK_FLAG_W
0     C3PO21      C1       1  ...              2  2270.77            4
1     C3PO21      C1       1  ...              2  2270.36            2
2     C3PO21      C1       1  ...              2  2265.04            2
3     C3PO21      C1       1  ...              2  2261.42            2
4     C3PO21      C1       1  ...              2  2259.26            2
..       ...     ...     ...  ...            ...      ...          ...
271   C3PO21   80_70      23  ...              9  2283.22            2
272   C3PO21   80_70      23  ...              9  2265.80            2
273   C3PO21   80_70      23  ...              9  2232.72            2
274   C3PO21   80_70      23  ...              9  2214.63            2
275   C3PO21   80_70      23  ...              9  2213.75            2

[276 rows x 31 columns]

In [ ]:
# CREATE FUNCTION TO CREATE A NUMPY ARRAY OF INPUTS FROM
# SHIP DATA FILE

'''
process_ship_file()
  description:
    This function reads in a data file in csv format and
    creates a pandas dataframe from it. From there it loops through
    and removes all bad data points according to the quality control
    flags. It then takes the desired input parameters as sepcified on 
    line 74 and puts them into a numpy array.

  args:
    file: string that contains file name of dataset
'''
def process_ship_file(file):

  # read in csv
  df = pd.read_csv(file)
  # take subset of data we care about
  df = df[['DATE', 'LATITUDE', 'LONGITUDE', 'CTDPRS', 'CTDTMP', 'CTDSAL', 
           'CTDSAL_FLAG_W', 'OXYGEN', 'OXYGEN_FLAG_W', 'TCARBN', 
           'TCARBN_FLAG_W', 'PH_TOT', 'PH_TOT_FLAG_W']]
  # drop any row with NaN values
  df = df.dropna(axis=0, how='any').reset_index(drop=True)

  # remove all bad data
  # "bad data" has a QC flag that isn't 2
  # do this for every parameter and its QC flags

  # drop bad Salinity
  index = 0
  to_drop = []
  for flag in df['CTDSAL_FLAG_W']:
    if flag != 2:
      to_drop.append(index)
    index += 1
  df = df.drop(to_drop).reset_index(drop=True)

  # drop bad Oxygen
  index = 0
  to_drop = []
  for flag in df['OXYGEN_FLAG_W']:
    if flag != 2:
      to_drop.append(index)
    index += 1
  df = df.drop(to_drop).reset_index(drop=True)

  # drop bad Total Carbon
  index = 0
  to_drop = []
  for flag in df['TCARBN_FLAG_W']:
    if flag != 2:
      to_drop.append(index)
    index += 1
  df = df.drop(to_drop).reset_index(drop=True)

  # drop bad Total pH
  index = 0
  to_drop = []
  for flag in df['PH_TOT_FLAG_W']:
    if flag != 2:
      to_drop.append(index)
    index += 1
  df = df.drop(to_drop).reset_index(drop=True)

  # Convert shipboard pH to in situ pH

  results = pyco2.sys(par1=df['PH_TOT'], par1_type=3,
                    par2=df['TCARBN'], par2_type=2,
                    temperature=25, pressure=0,
                    temperature_out=df['CTDTMP'], pressure_out=df['CTDPRS'],
                    salinity=df['CTDSAL'])

  df['PH_TOT'] = results['pH_out']

  # take subset of only parameters for inputs
  # this array contains only "good" data points
  inputs = df[['DATE', 'LATITUDE', 'LONGITUDE', 'CTDPRS', 'CTDTMP', 'CTDSAL', 
               'OXYGEN']]
  outputs = df['PH_TOT']

  display(df)

  # convert dataframe in numpy array
  inputs = inputs.to_numpy(dtype='str')
  outputs = outputs.to_numpy(dtype='str')

  # return the array
  return inputs, outputs


'''
process_ship_dir()
  description:
    This function takes a dir with shipboard data and processes
    each file in that dir and creates input and output files. It
    also has the option to save those input and output arrays to
    either a .txt or a .csv file.

  args:
    file: string that contains file name of dataset
    save_txt (default=False): boolean of whether to save a .txt
    save_csv (default=False): boolean of whether to save a .csv
'''
def process_ship_dir(dir, save_txt=False, save_csv=False):
  # list all data files in directory
  print('Parsing the following files:')
  print(os.listdir(dir))

  # create an empty numpy array that will hold inputs
  inputs = np.empty((0,7))
  outputs = np.empty(0)

  # loop through all data files and add them to input array
  for file in os.listdir(dir):
    input_array, output_array = process_ship_file(dir + file)
    inputs = np.concatenate((inputs, input_array), axis=0)
    outputs = np.concatenate((outputs, output_array), axis=0)

  # if desired save arrays as .txt files
  if save_txt or save_csv: 
    if save_txt:
      input_header = 'DATE LATITUDE LONGITUDE CTDPRS CTDTMP CTDSAL OXYGEN'
      np.savetxt(data_dir + 'ship_tpso_input.txt', inputs, 
                 fmt='%s', header=input_header)
      output_header = 'TOT_PH'
      np.savetxt(data_dir + 'ship_ph_output.txt', outputs, 
                 fmt='%s', header=output_header)
    else:
      input_header = 'DATE, LATITUDE, LONGITUDE, CTDPRS, CTDTMP, CTDSAL, OXYGEN'
      np.savetxt(data_dir + 'ship_tpso_input.csv', inputs, 
                 fmt='%s', delimiter=",", header=input_header)
      output_header = 'TOT_PH'
      np.savetxt(data_dir + 'ship_ph_output.csv', outputs, 
                 fmt='%s', delimiter=",", header=output_header)

  return inputs, outputs

In [ ]:
# PARSE SHIP DATA AND CREATE INPUT ARRAY

ship_inputs, ship_outputs = process_ship_dir(ship_dir, save_csv=True)

# print input array and its dimensions
print('Input array:')
display(ship_inputs)

print('Dimensions of input array:')
display(ship_inputs.shape)

# print output array and its dimensions
print('Output array:')
display(ship_outputs)

print('Dimensions of output array:')
display(ship_outputs.shape)

Parsing the following files:
['mltrain_ship052019.csv', 'mltrain_ship072019.csv', 'mltrain_ship052021.csv']

         DATE  LATITUDE  LONGITUDE  ...  TCARBN_FLAG_W    PH_TOT  PH_TOT_FLAG_W
0    20190511   36.7980  -121.8462  ...              2  7.730971              2
1    20190511   36.7980  -121.8462  ...              2  7.727681              2
2    20190511   36.7980  -121.8462  ...              2  7.762958              2
3    20190511   36.7980  -121.8462  ...              2  7.796314              2
4    20190511   36.7980  -121.8462  ...              2  7.894515              2
..        ...       ...        ...  ...            ...       ...            ...
229  20190516   36.6977  -122.2630  ...              2  7.618880              2
230  20190516   36.6977  -122.2630  ...              2  7.615298              2
231  20190516   36.6977  -122.2630  ...              2  7.617734              2
232  20190516   36.6977  -122.2630  ...              2  7.636277              2
233  20190516   36.6977  -122.2630  ...              2  7.702791              2

[234 rows x 13 columns]

         DATE  LATITUDE  LONGITUDE  ...  TCARBN_FLAG_W    PH_TOT  PH_TOT_FLAG_W
0    20190723   36.7982  -121.8462  ...              2  7.699953              2
1    20190723   36.7982  -121.8462  ...              2  7.714366              2
2    20190723   36.7982  -121.8462  ...              2  7.740052              2
3    20190723   36.7982  -121.8462  ...              2  7.751541              2
4    20190723   36.7982  -121.8462  ...              2  7.781071              2
..        ...       ...        ...  ...            ...       ...            ...
313  20190729   35.4770  -121.6088  ...              2  7.768774              2
314  20190729   35.4770  -121.6088  ...              2  7.915900              2
315  20190729   35.4770  -121.6088  ...              2  8.028001              2
316  20190729   35.4770  -121.6088  ...              2  8.129771              2
317  20190729   35.4770  -121.6088  ...              2  8.151566              2

[318 rows x 13 columns]

         DATE  LATITUDE  LONGITUDE  ...  TCARBN_FLAG_W    PH_TOT  PH_TOT_FLAG_W
0    20210508   36.7620   -122.038  ...              2  7.625306              2
1    20210508   36.7620   -122.038  ...              2  7.704911              2
2    20210508   36.7620   -122.038  ...              2  7.722424              2
3    20210508   36.7620   -122.038  ...              2  7.737846              2
4    20210508   36.7620   -122.038  ...              2  7.916542              2
..        ...       ...        ...  ...            ...       ...            ...
191  20210514   33.8167   -121.843  ...              2  7.689003              2
192  20210514   33.8167   -121.843  ...              2  7.774220              2
193  20210514   33.8167   -121.843  ...              2  7.892357              2
194  20210514   33.8167   -121.843  ...              2  8.114217              2
195  20210514   33.8167   -121.843  ...              2  8.111695              2

[196 rows x 13 columns]

Input array:

array([['20190511', '36.798', '-121.8462', ..., '8.6075', '33.9971',
        '94.2'],
       ['20190511', '36.798', '-121.8462', ..., '8.581', '34.001',
        '93.3'],
       ['20190511', '36.798', '-121.8462', ..., '9.1717', '33.9202',
        '112.5'],
       ...,
       ['20210514', '33.8167', '-121.84299999999999', ..., '10.4428',
        '33.5476', '185.3340941'],
       ['20210514', '33.8167', '-121.84299999999999', ..., '14.2987',
        '32.9877', '278.9397923'],
       ['20210514', '33.8167', '-121.84299999999999', ..., '14.5308',
        '32.994', '278.0892658']], dtype='<U32')

Dimensions of input array:

(748, 7)

Output array:

array(['7.730970739061131', '7.727680727079802', '7.762957925077376',
       '7.796313545797834', '7.894515063962825', '7.922467194824854',
       '7.949019302145861', '8.110336252729159', '8.147358201081984',
       '8.161302276567161', '7.726647094575305', '7.724865826450486',
       '7.779525569512648', '7.8188347213886535', '7.975602620866045',
       '8.112301324153226', '8.166555042139361', '7.639386777723472',
       '7.620494492693099', '7.621298192884223', '7.612505782805837',
       '7.662056525344349', '7.651942051544728', '7.623953382652679',
       '7.614173175119525', '7.6210066186145', '7.662241823366274',
       '7.758789892210932', '8.015863094803015', '7.705792882039213',
       '7.852819188090235', '7.905419022424352', '7.975348696746949',
       '8.124847096791852', '8.126777622903171', '8.132326437978204',
       '7.73290908989093', '7.716880201138217', '7.697879025575348',
       '7.677102210336942', '7.651149192505201', '7.607690952127642',
       '7.59667671692712', '7.648808867061556', '7.7026859427869985',
       '7.751780898047015', '7.811480220321484', '7.82566734971533',
       '7.842521511436668', '7.881680572057346', '8.006841473095745',
       '8.147746990736685', '7.747969238467728', '7.7223173954443425',
       '7.666873052265548', '7.647400960044644', '7.635603749556272',
       '7.623465970348586', '7.617968289545657', '7.602576081640851',
       '7.613398437957177', '7.638905595229899', '7.682765609189125',
       '7.703171207513926', '7.782231979822561', '7.7826156006401614',
       '7.802917376425824', '7.850053228994618', '7.904952152968364',
       '8.014058928124253', '8.121055207310905', '8.141778141183059',
       '8.14399063959444', '7.752456472018667', '7.669085568973632',
       '7.645515720072638', '7.633844878698031', '7.620500676750637',
       '7.608274863933343', '7.604409170255609', '7.6129366383874615',
       '7.6622396312937475', '7.684144350617892', '7.715977434850973',
       '7.737767634486454', '7.765779350252803', '7.794930288204259',
       '7.90167333743432', '7.925037318349579', '8.098005974136951',
       '8.158529065360423', '7.636926529972958', '7.686948227994276',
       '7.730466548369416', '7.778661477320133', '7.810438486704105',
       '8.146440494939515', '8.144674303245429', '7.733619783299083',
       '7.731037690255774', '7.738394977096879', '7.730949353534409',
       '7.761364652566588', '7.814442419625764', '7.886889137191435',
       '8.117234426505833', '7.756527944521906', '7.765088399910648',
       '7.822379008897403', '7.917915249348557', '8.132085999261713',
       '8.215652149210907', '7.609923429617912', '7.666396295963027',
       '7.710311107929674', '7.735141853832612', '7.780277255443722',
       '7.810085972078351', '7.843681736372859', '8.096944539397601',
       '8.253725226411747', '7.752219334164135', '7.741312107339729',
       '7.707983390380228', '7.681284221844882', '7.664730634592813',
       '7.6543287030281375', '7.630038538828993', '7.603181965491852',
       '7.597484164546402', '7.681613537197688', '7.716800453970956',
       '7.889942787795679', '7.8924738594302815', '7.909111209562383',
       '7.922063515053606', '7.987033559762009', '8.116433829308473',
       '8.12681857188466', '8.127136637032237', '7.759186663236191',
       '7.7403829325102365', '7.701789335378049', '7.669781217129998',
       '7.651121597147954', '7.639327579440672', '7.5964492982356155',
       '7.596479767791462', '7.606662696282807', '7.724372167641131',
       '7.839655710979669', '7.875630596646355', '7.888186946285676',
       '7.942306048956879', '8.129221644896438', '8.128912825280631',
       '8.125787706076228', '8.125645861203365', '7.708306357040113',
       '7.692357906931401', '7.629667163556742', '7.6131598373456155',
       '7.604339157295217', '7.606947433386326', '7.627367098025871',
       '7.701637996187088', '7.851179878877119', '7.88253841980527',
       '7.841046446600786', '7.991890476763243', '8.048093336090425',
       '8.128737583948304', '8.119708117868544', '8.120730090432163',
       '8.11750973099804', '8.117834616166919', '7.696408370231371',
       '7.685096626609009', '7.669094065265613', '7.647876976875054',
       '7.632620091990787', '7.610432998677347', '7.608156770537169',
       '7.606527116860905', '7.640247369210688', '7.686831649559324',
       '7.670945403997927', '7.664853159362621', '7.644126855938785',
       '7.639082742926061', '7.6271074467124125', '7.612647738277134',
       '7.6123167478644165', '7.615664852867396', '7.685033940115645',
       '7.718557016214055', '7.761035818402728', '7.881452791130519',
       '7.964307690873627', '8.099947258280716', '8.132837187069244',
       '8.136498326441272', '7.7035447858734845', '7.690101614690263',
       '7.674819243461393', '7.662351268351194', '7.647054014848564',
       '7.634989143616868', '7.622036231218896', '7.60880709188004',
       '7.61207190813375', '7.632919670457967', '8.08940386541699',
       '8.15590120858934', '8.14342222659611', '8.143723626244816',
       '8.14370194802537', '7.764313375559408', '7.776402731533948',
       '7.824770702483257', '7.876143949865389', '7.943603562402215',
       '8.132176859983838', '8.150598870729548', '8.15285906685819',
       '8.151124526636154', '8.149428491350088', '7.638380417952427',
       '7.628024807412524', '7.618880470804452', '7.615297831082535',
       '7.617734462764817', '7.636277158924102', '7.702791128732329',
       '7.699952658306362', '7.714366019782737', '7.740051817216922',
       '7.751540965352488', '7.781070680472474', '7.906976144321084',
       '7.950203868460708', '8.182508003623122', '8.210803531623897',
       '7.658525037401539', '7.636027083491086', '7.629772598630028',
       '7.740037906313798', '7.819549926583735', '7.905588636727839',
       '7.959606945642673', '8.132439224430351', '8.19409445688017',
       '8.20566763962094', '7.635817456395597', '7.625118948273504',
       '7.606740110069385', '7.744611046066957', '7.918420125076183',
       '7.961177250898975', '8.053731194319614', '8.14326623577626',
       '8.13578986942289', '8.143472478157634', '7.711183032638543',
       '7.683111628109833', '7.6712514503386595', '7.652029722821859',
       '7.6389705166699', '7.616224329209254', '7.613565171630613',
       '7.600618431440415', '7.616013987341104', '7.656439420418267',
       '7.686273311880481', '7.697032656747706', '7.79488681661366',
       '7.829565672194831', '7.8351368231182805', '7.858996609753441',
       '7.886622822594402', '8.174220459739733', '8.180281870855959',
       '7.632032377409467', '7.626812566040671', '7.608226497429273',
       '7.601423749312463', '7.604004320642406', '7.601592918751049',
       '7.61132883031558', '7.6630175599598855', '7.7421005584590015',
       '7.789098477202896', '7.948842387969956', '8.05992441020943',
       '8.111257195200192', '8.123187417431788', '8.105899712494486',
       '8.102791437299325', '8.107880066294765', '7.650819129767714',
       '7.64460771321039', '7.628821310005646', '7.622150215308562',
       '7.618714702598125', '7.6123135034823415', '7.608407960611313',
       '7.611357763512906', '7.656714808850618', '7.677347962107981',
       '7.728185998733148', '7.781127332409665', '7.8406033034023945',
       '7.921894176088747', '8.041531323963627', '8.108959680246977',
       '8.112137833186477', '8.0936486968132', '8.0906806582338',
       '8.091385374998369', '7.6478490547418865', '7.634214764100403',
       '7.628667053040198', '7.6236938869133875', '7.619361580357256',
       '7.610063127112873', '7.608098106763823', '7.619833778210826',
       '7.654043326838003', '7.715612903124643', '7.812281586104516',
       '7.9481763268473635', '8.041859858961324', '8.108066591491104',
       '8.112613675888255', '8.09212210839991', '8.093059335845362',
       '8.09212237546743', '8.092995765960564', '7.771733017978006',
       '7.872001243619705', '8.111304947947326', '8.121471882027132',
       '8.101319673938361', '8.093781102827428', '8.08337362480345',
       '8.083947753550037', '8.083306191731047', '8.08389649434576',
       '7.6485735698393915', '7.64099923698344', '7.63525601804657',
       '7.626424438928379', '7.62021598969759', '7.606367558110083',
       '7.609556459603413', '7.634923819215169', '7.6705755990501565',
       '7.720438562333768', '7.790608903008849', '7.9259618856769825',
       '7.870998528702254', '8.01897135160268', '8.080828304975809',
       '8.119156694958837', '8.086783011387844', '8.085247207668699',
       '8.086370188137948', '8.086972668917323', '7.64180517480344',
       '7.632794082897527', '7.626918459577684', '7.619624532664642',
       '7.613798344959899', '7.604455309003465', '7.616305729189604',
       '7.637111079977595', '7.665541139835976', '7.714444004133246',
       '7.791500940309579', '7.834600210087113', '8.080033856376348',
       '8.119618668029302', '8.115191110227581', '8.115466232594612',
       '8.11583743208779', '8.11567799560714', '7.653886824044153',
       '7.650454959913796', '7.638505029301717', '7.625386317888329',
       '7.609288598500209', '7.609396817804005', '7.626211260195099',
       '7.653263410225391', '7.679255812042478', '7.719014325943858',
       '7.763775086593748', '7.798306007897237', '7.839738409609911',
       '7.976968687768517', '8.053644201174848', '8.128518829212666',
       '8.196293154218406', '7.647294691463486', '7.639222003457555',
       '7.637451623578027', '7.62851260667038', '7.6236635128761225',
       '7.616331801084399', '7.617040376278918', '7.623409019398138',
       '7.639305271314567', '7.677651465332656', '7.861615570552819',
       '7.88983572409125', '8.101416453199464', '8.122067853417215',
       '8.08645860913294', '8.087113586212821', '8.087666580033858',
       '8.088274609001406', '8.088300468435504', '8.087996010654152',
       '7.651179134787369', '7.6505975787722', '7.644508695448115',
       '7.632080332257071', '7.618041956940248', '7.608308275139039',
       '7.615994575873006', '7.655456103068233', '7.711416017206383',
       '7.765117576127864', '7.815868254299299', '7.862386866800255',
       '8.119955038676524', '8.107190966824584', '8.096464692929386',
       '8.085127528658036', '8.08423200745653', '8.083374106056501',
       '8.084791147696137', '7.644220383653923', '7.636555931323058',
       '7.628100890987009', '7.616927930329635', '7.6132140800544645',
       '7.607853829070638', '7.610665494115317', '7.643608986653669',
       '7.674236811406522', '7.722663736459176', '7.763975896802149',
       '7.765542400859502', '7.917647429998383', '8.057214654675194',
       '8.113202895127626', '8.12296039954592', '8.094384187634992',
       '8.095654381928242', '8.093478707219143', '8.093699840951073',
       '8.091733601822398', '8.095169623775961', '7.64903283704759',
       '7.641341184563511', '7.634106500166702', '7.630524716807401',
       '7.625693183749285', '7.618347932135459', '7.606293757382124',
       '7.614167823501114', '7.678821939105846', '7.6960615082628925',
       '7.719589672679991', '7.80560845742126', '7.827654641547021',
       '7.8373268676674055', '7.831780564551286', '7.878372386123874',
       '7.965353396189912', '8.053456613057786', '8.116067175043517',
       '8.125818405465182', '8.12612240833765', '7.648474174598633',
       '7.642514837460508', '7.637406855177761', '7.633877237210458',
       '7.628125172356599', '7.62013229194997', '7.613911989014029',
       '7.6093282488997005', '7.621508101586091', '7.63120893294863',
       '7.652543993245491', '7.745460984815642', '7.879682933359081',
       '7.967860110142716', '8.026751295508946', '8.069992315335657',
       '8.10427757865122', '8.129383369149764', '8.140768059677773',
       '8.14139601404157', '8.14213449233619', '7.65475415776096',
       '7.637530117817614', '7.623652171278062', '7.62169828853574',
       '7.6103311898049935', '7.621510473229716', '7.641066784909445',
       '7.665165653200588', '7.6294487747161925', '7.620306544157051',
       '7.626308314678819', '7.6578351650061425', '7.707656205688581',
       '7.840780917114708', '7.922295565494126', '7.931134587027723',
       '7.935143824868241', '7.631548170927444', '7.6608423531030745',
       '7.726983258002955', '7.7727793976825135', '7.790733611944043',
       '7.819214633504453', '7.846354111513851', '7.892960270829602',
       '8.011038813311488', '8.012490543416606', '7.66745661335212',
       '7.70571216763303', '7.808005394592972', '7.851844179969897',
       '8.039250424619148', '8.05735083293506', '8.058191064094471',
       '8.058986467786244', '8.060589506095296', '7.643038169023467',
       '7.60387430308085', '7.613001877700584', '7.652523874081014',
       '7.716142609826968', '7.768773602471925', '7.915900482623599',
       '8.028000932932837', '8.12977126562416', '8.15156550376585',
       '7.625306433977267', '7.704910906780148', '7.722424148489454',
       '7.7378456694608655', '7.91654177891317', '7.9343081806234155',
       '7.944870665731484', '7.951711333134441', '7.953563494797294',
       '7.64976663381957', '7.641461973021745', '7.629202945681813',
       '7.614088441318122', '7.636916227529788', '7.752333017149903',
       '7.768713740890694', '7.781676986709455', '7.963560187892795',
       '8.012282014958183', '8.027690424260669', '7.562688340995304',
       '7.564418779228112', '7.563959288074471', '7.561191415358475',
       '7.5603316753557745', '7.561689934326955', '7.562500095898405',
       '7.5635597612003584', '7.570525170997582', '7.601214034267703',
       '8.157730077954078', '7.565346140111108', '7.557986789506264',
       '7.55823534597981', '7.559913420985179', '7.563858154053043',
       '7.565109074819537', '7.568269938813018', '7.58120201065702',
       '7.602981133625982', '7.622608642250877', '7.615185583344253',
       '7.6166690930923036', '7.640541400291073', '7.647483605419901',
       '7.719888558359617', '7.980028921121447', '7.988927856916679',
       '7.637049715616454', '7.619591875986867', '7.6138204976143165',
       '7.620330957761247', '7.626856762602345', '7.638526981094729',
       '7.678029362708553', '7.808782098175815', '8.10943230677012',
       '8.117155225054228', '7.622200783881772', '7.62300200223104',
       '7.665919106503914', '7.744880596951133', '8.14443807601246',
       '8.146725519506804', '7.6507821343833715', '7.6301569473771105',
       '7.6208920451963635', '7.613506465271687', '7.619239004574936',
       '7.6534322516545945', '7.697348277456831', '7.784474216410181',
       '8.11819084681029', '7.635579621720405', '7.623522225800025',
       '7.616455177542129', '7.614630769320754', '7.620659832663263',
       '7.698084820585113', '7.785511582357874', '8.12147010513691',
       '8.123401250565493', '7.647792919642722', '7.631776583959033',
       '7.621955360565061', '7.621870835300831', '7.629867941123366',
       '7.64425930493098', '7.880896508849255', '8.096298954159975',
       '7.652660518330334', '7.638050305889842', '7.622797383801453',
       '7.610177526550182', '7.621365051871285', '7.650439012648543',
       '7.716262825896488', '8.09272340478565', '7.640617732285786',
       '7.625613561969929', '7.615925623080824', '7.607162593130216',
       '7.620912442011507', '7.634318528276449', '7.652320748458202',
       '7.782931154749709', '8.105532863257096', '7.656664380278414',
       '7.642286604230438', '7.626544757268227', '7.616766935784029',
       '7.618060861389822', '7.738159342716335', '7.85410378898942',
       '8.109539967979911', '8.113262300797118', '7.658567871463999',
       '7.630535258891197', '7.613235807819108', '7.6185931593408895',
       '7.628293505779466', '7.646744660756475', '7.867582056068558',
       '8.10165941835615', '8.10145974196267', '7.658214009918893',
       '7.637908450253683', '7.6229159319191275', '7.609809648620034',
       '7.608343504121236', '7.672736080681224', '7.808062786368513',
       '7.983372204497234', '8.110690372159858', '7.659409682818245',
       '7.642572571776634', '7.62855159478576', '7.6149070989754275',
       '7.620491614902373', '7.671191975282504', '7.77528362256468',
       '7.9109068470810495', '8.083769209606075', '7.657110261553207',
       '7.623268117225956', '7.610925060132567', '7.61809922487714',
       '7.632560097264457', '7.661747740121518', '7.762074384037096',
       '7.8824144146991335', '8.085272806105625', '8.079823161528308',
       '7.656299891136553', '7.638595874310081', '7.6243605197912',
       '7.61559906831223', '7.6110522603500845', '7.618361036407404',
       '7.626547761623957', '7.64886367685076', '8.089906216472023',
       '7.655501064374172', '7.61113415493262', '7.66493010488962',
       '7.746771775290708', '7.81079527779845', '8.069499644745495',
       '8.073221746255122', '7.649236013969228', '7.6211846250870705',
       '7.610568688536652', '7.606787349891786', '7.619326835066089',
       '7.631219769167081', '7.6671106341823325', '7.71009553714336',
       '7.824816432317325', '8.109211071778164', '8.108521132114282',
       '7.612565245026609', '7.606919887166593', '7.618109662621338',
       '7.7246713589094815', '7.981809374657974', '8.114309056789834',
       '8.10385589420833', '7.65369763375327', '7.61058875263041',
       '7.604287311212662', '7.622784064194478', '7.6890030991300575',
       '7.7742197039784156', '7.892357107835996', '8.114217477849255',
       '8.111695278649204'], dtype='<U32')

Dimensions of output array:

(748,)